<div>
  <div class="header">
    <div class="header-content container">
      <div class="logo">
        <a routerLink="/landing-page">
          <h1 id="logo">
            <img
              src="../assets/imagens/e36ea815dc8360036fca80058b45fb29.png"
              width="50px"
            />
            MF Sports
          </h1>
        </a>
      </div>
      <nav>
        <ul class="links-list">
          <li *ngFor="let link of links">
            <a [routerLink]="'/' + link.url">{{ link.label }}</a>
          </li>
          <li [routerLink]="'/login'" *ngIf="!logado"><a>LOGIN</a></li>
          <li *ngIf="logado" (click)="logout()"><a>LOGOUT</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- The routed views render in the <router-outlet>-->
