<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Preço p/item</th>
      <th scope="col">Preço Total</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart; index as i">
      <td>
        <img [src]="item.url" class="me-2" style="width: 50px" />
        {{ item.name }}
      </td>
      <td class="row">
        <div class="btn btn-danger" (click)="subtractFromCart(i)">-</div>
        <p class="ml-3 mr-3 mb-0">{{ item.quantity }}</p>
        <div class="btn btn-primary" (click)="addToCart(i)">+</div>
      </td>
      <td>R$ {{ item.price }},00</td>
      <td>R$ {{ item.price * item.quantity }},00</td>
      <td>
        <div class="btn btn-outline-danger" (click)="removeFromCart(i)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash3"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
            />
          </svg>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="mb-4 footer-container">
  <div class="footer">
    VALOR TOTAL: R$ {{ (total * (desconto ? 0.85 : 1)).toFixed(2) }}
    {{ desconto ? " (cupom aplicado)" : "" }}
  </div>
  <p class="mt-4 mb-0">Aplique o cupom e adquira até 15% de desconto!</p>
  <div>
    <label for="cupom" class="mr-2">Cupom</label>
    <input id="cupom" type="text" [(ngModel)]="cupom" class="mr-2" />
    <div class="btn btn-outline-primary" (click)="aplicarCupom()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-ticket"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"
        />
      </svg>
      Aplicar Cupom
    </div>
  </div>
  <div class="mt-4 btn btn-primary" (click)="finalizarCompra()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-bag"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
      />
    </svg>
    Finalizar Compra
  </div>
</div>
