@import '~ngx-toastr/toastr';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fontelogo';
  src: url(Valorant_Font.TTF);
}

#logo{
  font-family: 'fontelogo';
}
